	body
	{
		padding: 0;
		overflow: hidden;
	}
	
	#hextime{
	    line-height: 76px;
	    margin: -38px 0 0 0;
	    position: absolute;
	    text-align: center;
	    top: 50%;
	    width: 100%;
	    font-size:10em;
	    font-weight: lighter;
	    font-family: Chathura, Arial;
	    color: white;
	}