body{
    padding:0;
    margin:0;
    overflow:hidden;
}

.gameoflife-container{
    position: relative;
}

#gameoflife
{
    background: white;
}

.gameoflife-stats{
    background: white;
    width: 400px;
    top: 10px;
    left: 10px;
    position: absolute;
}

.gameoflife-stats > p{
    display: inline-block;
    text-decoration: underline;
    width: 50%;
    padding: 0;
    margin: 0;
}