body
{
    background: #546A76;
    margin: 0;
}

#game-mat{
    width: 270px;
    height: 270px;
}

.game-scores{
    margin-top: 10px;
    font-size: 0;
    text-align: center;
}

.game-scores p{
    display: inline-block;
    width: calc((270px/3) - 10px);
    font-size: 15px;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
}

#game-mat > div
{
    float: left;
    border: 1px solid #546A76;
    background: #88A0A8;
    box-sizing: border-box;
    width: 90px;
    height: 90px;
    cursor: pointer;

    -webkit-transition: background 500ms ease-in;
    -ms-transition: background 500ms ease-in;
    -o-transition: background 500ms ease-in;
    transition: background 500ms ease-in;

    -webkit-transition: border 1s ease-in;
    -moz-transition: border 1s ease-in;
    -o-transition: border 1s ease-in;
    transition: border 1s ease-in;
}

#game-mat > div:hover, .menu-button:hover
{
   background: #789098;
}

#game-mat > div:active
{
   background: #587078;
}

#game-mat > div > div{

    position: relative;
}

#game-mat div.nought, #game-mat div.cross
{
    -webkit-animation: fadein 1s; 
    -moz-animation: fadein 1s; 
    -ms-animation: fadein 1s; 
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

div.nought{
    width: 65px;
    height: 65px;
    border: 5px solid white;
    border-radius: 50%;
    top: 7%;
    left: 7%;
}

div.cross{
    top: 48%;
    left: 8%;
    width: 85px;            
}

div.cross:before{
    transform: rotate(-45deg);
}

div.cross:after{
    transform: rotate(45deg);
}

div.cross:before, div.cross:after{
    display: block;
    left: -10%;
    position: absolute;
    width: 100%;
    border: 3px solid white;
    content: "";
}

#background{
    opacity: 0.7;
    background-color:black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#menu
{
    width: 300px;
    background: hsla(195, 15%, 41%, 0.8);
    z-index: 2;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    user-select: none;
}

#menu .menu-button {
    display: inline-block;
    width: 90px;
    height: 90px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

#menu input[type="checkbox"]
{
    width: 25px;
    height: 25px;
}

#menu label{
    font-size: 35px;
}

#menu div.nought, #menu div.cross{
    position: relative;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}