body
{
    background: #546A76;
}

#game-mat
{
    margin: auto;
    margin-top: 5em;
    width: 16.5em;
}
#game-mat > div
{
    float: left;
    width: 1em;
    height: 1em;
    border: 1px solid #88A0A8;
    box-sizing: border-box;

    text-align: center;
    line-height: 1em;
    font-size: 5.5em;
    font-family: 'Permanent Marker', cursive;
    text-shadow: black 1px 1px 1px;
}

#game-mat > div:hover
{
   cursor: pointer;
   background: #88A0A8;
}

#game-mat > div.cross{
    color: #F18805;
}

#game-mat  > div.nought{
    color: #5FAD41;
}