body
{
    background: #546A76;
}

#game-mat
{
    margin: auto;
    margin-top: 5em;
    width: 16.5em;
}

#game-mat > div.row{
    white-space: none;
}

#game-mat > div.row > div
{
    float: left;
    width: 1em;
    height: 1em;
    border: 1px solid #88A0A8;
    box-sizing: border-box;

    text-align: center;
    line-height: 1em;
    font-size: 5.5em;
    font-family: 'Permanent Marker', cursive;
    text-shadow: black 1px 1px 1px;
}

#game-mat > div.row > div:hover
{
   cursor: pointer;
   background: #88A0A8;
}

#game-mat > div.row:nth-child(1) > div
{
    border-top: none;
}

#game-mat > div.row > div:nth-child(1)
{
    border-left: none;
}

#game-mat > div.row:nth-child(3) > div
{
    border-bottom: none;
}

#game-mat > div.row > div:nth-child(3)
{
    border-right: none;
}

#game-mat > div.row > div.cross{
    color: #F18805;
}

#game-mat > div.row > div.nought{
    color: #5FAD41;
}